[submodule "config/shell/zsh/zsh-history-substring-search"]
	path = config/shell/zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "config/shell/zsh/zsh-completions"]
	path = config/shell/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "config/shell/zsh/zsh-autosuggestions"]
	path = config/shell/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "config/shell/zsh/zsh-syntax-highlighting"]
	path = config/shell/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/shell/zsh/spaceship-prompt"]
	path = config/shell/zsh/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
